* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Arial Black", Gadget, sans-serif;
    cursor: default;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgb(50, 100, 150);
    color: #EEEEEE;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top {
    position: fixed;
    height: 70%;
}

.bottom {
    position: fixed;
    top: 70%;
    left: 0px;
    right: 2px;
    bottom: 2px;
}

.box {
    position: absolute;
    display: grid;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #EEEEEE;
    background: rgb(54,135,207);
    background: radial-gradient(circle at left top, rgba(54,135,207,1) 0%, rgba(17,17,23,1) 100%);
    box-shadow: inset 0 0 10px #000000;
    margin: 1px;
    padding: 10px;
    text-shadow: 1px 1px 0 black; 
}

.left {
    width: 25%;
    color: rgb(179, 179, 179);
}

.right {
    width: 75%;
}

.row {
    display: grid;
    align-items: center;
    flex-grow: 1;
    font-size: 20px;
    white-space: nowrap;
}

.header {
    font-size: 16px;
    color: rgb(179, 179, 179);
}

.right .row {
    grid-template-columns: 2fr 1fr 1fr;
}

.ready {
    color: #EEEEEE;
}

.ready:hover {
    cursor: pointer;
}

.selected {
    animation: flash 1.25s linear infinite;
}

@keyframes flash {
    50% {
        opacity: .2;
    }
}

.hide {
    left: -100%;
    transition: .75s;
}

.show {
    transition: .75s;
    left: 25%;
}

.progress-bar {
    background-color: gray;
    height: 25%;
}

.progress-bar-filling {
    width: 0%;
    height: 100%;
    background-color: seagreen;
}

