* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Arial Black", Gadget, sans-serif;
    cursor: default;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgb(128, 141, 165);
    color: #EEEEEE;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top {
    position: fixed;
    display: flex;
    height: 70%;
    left: 0;
    right: 0;
}

.bottom {
    position: fixed;
    top: 70%;
    left: 0;
    right: 2px;
    bottom: 2px;
}

.box {
    position: absolute;
    display: grid;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #EEEEEE;
    background: rgb(54,135,207);
    background: radial-gradient(circle at left top, rgba(54,135,207,1) 0%, rgba(17,17,23,1) 100%);
    box-shadow: inset 0 0 10px #000000;
    margin: 1px;
    padding: 10px;
    text-shadow: 1px 1px 0 black; 
}

.left {
    width: 25%;
    color: rgb(179, 179, 179);
}

.right {
    width: 75%;
}

.row {
    display: grid;
    align-items: center;
    flex-grow: 1;
    font-size: 20px;
    white-space: nowrap;
}

.header {
    font-size: 16px;
    color: rgb(179, 179, 179);
}

.right .row {
    grid-template-columns: 2fr 1fr 1fr;
}

.selected {
    animation: flash 1.25s linear infinite;
}

@keyframes flash {
    50% {
        opacity: .2;
    }
}

.hide {
    left: -100%;
    transition: .75s;
}

.show {
    transition: .75s;
    left: 25%;
}

.progress-bar {
    background-color: gray;
    height: 25%;
}

.progress-bar-filling {
    width: 0%;
    height: 100%;
    background-color: seagreen;
}

.sprite {
    width: 15vh;
    height: 15vh;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    transition: 1s;
}

.sprite-selected {
    animation: flash 1.25s linear infinite;
}

.sprite-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.hero {
    background-color: darkgreen;
    opacity: 0.3;

}

.enemy {
    background-color: darkred;
    border: 2px solid transparent;
    color: rgb(179, 179, 179);
}

.enemies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-left: 10px;

}

.heroes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-right: 5px;
}

.heroes > .sprite-wrapper {
    align-items: flex-end;
}

.secondary-back {
    text-align: center;
}

.selectable {
    color: #EEEEEE;
    transition: .75s;
    cursor: pointer;
    opacity: 1.0 !important;
}

.selectable:hover {
    cursor: pointer;
}

.sprite.enemy.selectable.sinkable {
    border: 2px solid red;
}
